.company-details-container {
  position: relative;
  min-height: 100vh;
}

.cover-image {
  height: 33vh;
  width: 100%;
  background-color: #ccc;
}

.cover-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-card {
  position: relative;
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: -4rem;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo {
  width: 70px;
  height: 70px;
  background-color: #aaa;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.text-muted {
  color: #555;
  margin: 0;
}

.connect-button {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-in-out;
  text-align: center;
}

.company-description {
  font-size: 1rem;
  color: #333;
  margin-top: 1rem;
  text-align: justify;
}

.company-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 16px;
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.info-title {
  font-weight: bold;
}

.section-container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.list {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.about-heading {
  text-align: left;
  margin-left: 10%;
  width: 80%;
}

.about-text {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}

.service-heading {
  text-align: left;
  margin-left: 10%;
  width: 80%;
}

.service-list {
  margin-left: 10%;
  width: 80%;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 30px;
}

.social-icons a img {
  width: 34px;
  vertical-align: middle;
}
.result-card__content h3:hover{
  color: #007bff;
}
